<!DOCTYPE html>
<html>
  <head>
    <title>The Liam Neeson Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="The Liam Neeson Project" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://liam-neeson.herokuapp.com/" />
    <meta property="og:image" content="https://goo.gl/SZBTaf" />
    <meta property="og:description" content="Liam Neeson has found a way to you through Facebook. He will find you and he will kill you. Seriously. You'd better run." />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
